{% extends 'mailing/base.html' %}
{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-6">
            <form class="row" method="post" enctype="multipart/form-data">
                <div class="card">
                    {% if object %}
                    <h1 class="mb-4">Редактирование Сообщения</h1>
                    {% else %}
                    <h1 class="mb-4">Создание Сообщения</h1>
                    {% endif %}
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                        <a href="{% url 'mailing:message_list' %}">Отмена</a>
                    </form>
<!--                    <div class="form-body">-->
<!--                        {% csrf_token %}-->
<!--                        {{ form.as_p }}-->
<!--                    </div>-->
<!--                    <button type="submit" class="btn btn-primary">-->
<!--                        {% if object %}-->
<!--                        Сохранить-->
<!--                        {% else %}-->
<!--                        Создать-->
<!--                        {% endif %}-->
<!--                    </button>-->
<!--                    <a class="btn btn-primary mt-1" href="{% url 'mailing:message_list' %}" role="button">Отмена</a>-->

                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}